<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>F1 Management</title>
</head>
<body>
    <header>
        <h1>F1 Management</h1>
        {% if user.is_authenticated %}
            <p>Szia, {{ user.username }}! 
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Kijelentkezés</button>
                </form>
            </p>
        {% else %}
        {% endif %}
        <hr>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>